body {
    /* background-image: url("../HTML/img/bg.jpg"); */
    /* background-image: url(https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGxpZ2h0JTIwY29sb3VyfGVufDB8fDB8fHww&w=1000&q=80); */
    /* background-color: orange; */
    background: rgb(89, 101, 112);
    background: linear-gradient(131deg, rgb(41, 51, 61) 0%, rgb(71, 81, 92) 50%, rgb(212, 232, 42) 100%);
}

.font-sample {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    background-color: red;
    color: yellow;
}

.text-sample {
    text-align: center;
    text-transform: capitalize;
    text-decoration: line-through;
}

#spacing-sample {
    letter-spacing: 5px;
    line-height: 5;
    text-indent: 50px;
    background-color: blue;
}

#shadow-sample {
    text-shadow: 10px -5px 10px rgb(123, 45, 67);
    /* text-shadow
        x-coordinate ||
        y-coordinate ||
        blur radius ||
        color of the shadow */
    font-size: 25px;
}

.box-sample {
    background-color: green;
    height: 100px;
    width: 100px;
    /* Padding & Margin
        1 value = all 4 sides
        2 values = top and bottom, left and right
        3 values = top, left and right, bottom
        4 values = top, right, bottom, left*/
    padding: 10px 5px 25px 15px;
    padding-left: 12px;
    border: 10px dashed violet;
    border-top: 5px dotted magenta;
    border-right: 5px double chartreuse;
    border-bottom: 8px groove teal;
    border-left: 8px inherit purple;
    border-radius: 50px;
    /* border: border-width border-style border-color*/
    margin: 5px 10px 40px 8px;
    margin-left: 50px;
}