* {
    font-family: "Roboto", sans-serif;
}

header {
    margin-top: 50px;
    text-align: center;
    font-style: bold;
}

h1 {
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 25px;
}

p {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.img-small {
    height: 200px;
    width: 200px;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color:cyan;
}

#back {
    font-size: 25px;
    text-align: center;
}

div {
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 65%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.box-style {
    vertical-align: text-top;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 180px;
    text-align: left;
    border: 2px solid gray;
    font-size: 20px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.box-style:hover {
    background-color: cyan;
}

.img-smaller {
    margin-top: 10px;
    height: 240px;
    width: 180px;
    display: inline-block;
}

.pinbox {
    font-size: 20px;
    text-align: center;
    height: 60px;
    max-width: 220px;
}

.flex-box {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

marquee {
    margin-bottom: -5px;
}